<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->





<div class="container text-align">
  <!-- <h3>My Recipe</h3> -->
  <!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">My Recipe</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active col-md-4">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item col-md-7">
          <a class="nav-link" href="#">List Recipies</a>
        </li>
        <li class="nav-item col-md-7">
          <a class="nav-link" href="#">Add Recipe</a>
        </li>     
      </ul>
    </div>
  </nav> -->

  <nav class="navbar navbar-expand-lg navbar-light" style="background-color:#009688">
    
    <a class="navbar-brand" href="#"><h2 class="w1">My Recipe</h2></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <!-- <ul class="navbar-nav text-center list-inline py-3">
                       
        <li class="nav-item list-inline-item">
          <a routerLink="/recs" class="btn b1">List Recipies</a>  
        </li>
        <li class="nav-item list-inline-item">
          <a routerLink="/addrecs" class="btn b1">Add Recipe</a>
        </li>
        
                    
      </ul> -->
        
    </div>
    <form class="form-inline">
      <!-- <a routerLink="/recs" class="btn b1">List Recipies</a> -->
      <a routerLink="/addrecs" class="btn b1">Add Recipe</a>
    
    </form>
   
  </nav>


  
 
  <div class="row">
    
    <div class ="col-xl">
     

      <router-outlet></router-outlet> 

      
    </div>
      
  
        

  </div>

  <!-- <footer style="background-color:#009688">
    
    <div class="mx-auto" style="width:150px">
      
      <a href="https://www.linkedin.com/in/jose-casorla/" class="fa fa-linkedin"></a>
    </div>
  
  </footer> -->


  


<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


